@import 'tailwindcss';

body {
  background: var(--color-slate-950);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .text-shadow-colored {
    text-shadow:
      -2px 4px 0 var(--color-sky-400),
      -4px 8px 0 var(--color-sky-500),
      -6px 12px 0 var(--color-sky-600),
      -8px 16px 0 var(--color-sky-700);
  }

  .heading-text-shadow-colored {
    text-shadow: -1px 2px 0 var(--color-sky-500);
  }
}
